{% extends 'main_layout.html.twig' %}
{% block title %}Registration{% endblock %}
{%  block mainContent %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="register-block">
                    <h4>Join the community</h4>
                    <div class="row hide register-error-block">
                        <div class="col s12" >
                            <div class="card-panel error register-error-message">
                            </div>
                        </div>
                    </div>
                    <div class="row no-margin-bot">
                        <form class="col s12" method="POST">
                            <div class="input-field col s12">
                                <input id="email" name="email" placeholder="" type="email" class="validate" value="{% if query.email is defined %}{{ query.email }}{% endif %}">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="plainPassword" name="plainPassword" placeholder="" type="password" class="validate">
                                <label for="plainPassword">Password</label>
                            </div>
                            <div class="input-field col s12">
                                <input name="repeatPassword" type="password" placeholder="" class="validate">
                                <label for="repeatPassword">Repeat password</label>
                            </div>

                            <input id="inviteId" name="inviteId" placeholder="" type="hidden" value="{% if query.invite is defined %}{{ query.invite }}{% endif %}">
                            <input id="inviteId" name="inviteToken" placeholder="" type="hidden" value="{% if query.token is defined %}{{ query.token }}{% endif %}">

                            <button class="btn waves-effect waves-light s12 col" type="submit" name="action">Join the community
                                <i class="material-icons right">send</i>
                            </button>
                            <hr />
                            <a href="#login" class="login-trigger center-align col s12">Already have an account? Log in</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}